* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(black, #050542);
  color: white; }

header h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 7px;
  color: #abf8f0; }

header nav ul {
  list-style-type: none;
  margin: 5px auto;
  text-align: center; }
  header nav ul li {
    display: inline-block;
    text-align: center; }
    header nav ul li a {
      text-decoration: none;
      color: white;
      display: inline-block;
      margin: 5px; }
      header nav ul li a:hover {
        color: turquoise; }

main .menu1 div img {
  padding: 10px; }

main .menu1 div h2 {
  color: #448fcc;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center; }

main .menu1 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem; }

main .menu2 .caja1, main .menu2 .caja2, main .menu2 .caja3 {
  background-color: white;
  color: black;
  text-align: center;
  margin: 10px;
  transition: 2s; }
  main .menu2 .caja1:hover, main .menu2 .caja2:hover, main .menu2 .caja3:hover {
    background-color: aquamarine; }
  main .menu2 .caja1 div h3, main .menu2 .caja2 div h3, main .menu2 .caja3 div h3 {
    font-size: 2rem;
    padding: 10px; }
  main .menu2 .caja1 div p, main .menu2 .caja2 div p, main .menu2 .caja3 div p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    color: #a9a9a9b9;
    margin: 10px 10px; }

main .menu2 .caja2:hover {
  background-color: lightskyblue; }

main .menu2 .caja2 div h3 {
  font-size: 2rem;
  padding: 10px; }

main .menu2 .caja2 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #a9a9a9b9;
  margin: 10px 10px; }

main .menu2 .caja3:hover {
  background-color: teal; }

main .menu2 .caja3 div h3 {
  font-size: 2rem;
  padding: 10px; }

main .menu2 .caja3 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: #a9a9a9b9;
  margin: 10px 10px; }

main .menu3 {
  width: 80%;
  margin: auto; }
  main .menu3 h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
    color: #006acd;
    margin: auto;
    padding-bottom: 20px; }
  main .menu3 .caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    main .menu3 .caja .cajaA {
      width: 400px;
      height: auto;
      margin: auto; }
    main .menu3 .caja h3 {
      font-size: 2rem;
      color: #448fcc; }
    main .menu3 .caja p {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      line-height: 2rem;
      font-size: 1.2rem; }

main h2 {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center; }

main .galeriaModelos {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px; }
  main .galeriaModelos .modelo1 {
    grid-area: modelo1; }
  main .galeriaModelos .modelo2 {
    grid-area: modelo2; }
  main .galeriaModelos .modelo3 {
    grid-area: modelo3; }
  main .galeriaModelos .modelo4 {
    grid-area: modelo4; }
  main .galeriaModelos .modelo5 {
    grid-area: modelo5; }
  main .galeriaModelos p {
    color: steelblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem; }
  main .galeriaModelos img {
    width: 100%;
    border: solid rgba(128, 128, 128, 0.918) 2px;
    opacity: .7;
    transition: all 1.5s; }
    main .galeriaModelos img:hover {
      opacity: 1;
      border: solid white 2px;
      transform: scale(1.2, 1.2); }

main .sistC {
  width: 90%;
  margin: auto; }
  main .sistC h2 {
    animation-name: anima;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 0s; }

@keyframes anima {
  20% {
    color: #b9f7f7; }
  40% {
    color: #9ff3f3; }
  60% {
    color: #81f7f7; }
  80% {
    color: #9ff3f3; }
  90% {
    color: #c9f7f7; }
  100% {
    color: #e3f8f8; } }
  main .sistC .wood {
    display: flex;
    padding: 10px; }
    main .sistC .wood img {
      margin-right: 15px; }
  main .sistC .steel {
    display: flex;
    padding: 10px; }
    main .sistC .steel img {
      margin-left: 15px; }

main .contacto {
  width: 95%;
  margin: auto; }

footer {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  color: #abf8f0;
  margin: 20px; }

@media only screen and (max-width: 1024px) {
  body {
    width: 100%; }
    body h1 {
      font-size: 2.5rem;
      letter-spacing: 5px; }
    body h2 {
      font-size: 2rem;
      letter-spacing: 3px; }
    body h3 {
      font-size: 1.5rem; }
    body p {
      font-size: 1.2rem; }
    body .menu1 {
      width: 90%;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center; }
      body .menu1 p {
        margin: auto; }
      body .menu1 img {
        width: 400px;
        margin: auto; }
    body .menu2 {
      width: 90%;
      height: auto; }
    body .galeriaModelos {
      width: 90%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px; }
      body .galeriaModelos img:hover {
        transform: scale(1.1, 1.1); }
    body .sistC {
      width: 90%; }
      body .sistC .wood {
        width: 90%;
        flex-wrap: wrap; }
        body .sistC .wood img {
          width: 300px;
          margin: auto;
          justify-content: center; }
      body .sistC .steel {
        width: 90%;
        flex-wrap: wrap; }
        body .sistC .steel img {
          width: 300px;
          margin: auto;
          justify-content: center; } }

@media only screen and (max-width: 600px) {
  body {
    width: 100%; }
    body h1 {
      font-size: 1.8rem;
      letter-spacing: 5px; }
    body h2 {
      font-size: 1.5rem;
      letter-spacing: 3px; }
    body h3 {
      font-size: 1.3rem; }
    body .menu2 {
      flex-wrap: wrap; }
    body .galeriaModelos {
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 10px; } }

.menu1 {
  margin: 30px auto;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row; }

.menu2 {
  margin: 30px auto;
  height: 260px;
  width: 80%;
  display: flex;
  flex-direction: row; }

.wood p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: lightblue; }

.steel p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: aqua; }
