* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(black, #050542);
  color: white; }

header {
  font-family: 'Roboto Slab', serif; }
  header nav ul {
    margin: 5px auto;
    text-align: center; }
    header nav ul li a {
      font-family: 'Yanone Kaffeesatz', sans-serif; }

main .menu1 div img {
  padding: 10px; }

main .menu1 div h2 {
  color: #448fcc;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center; }

main .menu1 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem; }

main .menu2 .caja1, main .menu2 .caja2, main .menu2 .caja3 {
  background-color: white;
  color: black;
  text-align: center;
  margin: 10px;
  transition: 2s; }
  main .menu2 .caja1:hover, main .menu2 .caja2:hover, main .menu2 .caja3:hover {
    background-color: aquamarine; }
  main .menu2 .caja1 div h3, main .menu2 .caja2 div h3, main .menu2 .caja3 div h3 {
    font-size: 2rem;
    padding: 10px; }
  main .menu2 .caja1 div p, main .menu2 .caja2 div p, main .menu2 .caja3 div p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    color: black;
    margin: 10px 10px; }

main .menu2 .caja2:hover {
  background-color: lightskyblue; }

main .menu2 .caja2 div h3 {
  font-size: 2rem;
  padding: 10px; }

main .menu2 .caja2 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: black;
  margin: 10px 10px; }

main .menu2 .caja3:hover {
  background-color: #0ea5a5; }

main .menu2 .caja3 div h3 {
  font-size: 2rem;
  padding: 10px; }

main .menu2 .caja3 div p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: black;
  margin: 10px 10px; }

main .menu3 {
  width: 80%;
  margin: auto; }
  main .menu3 h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
    color: #448fcc;
    margin: auto;
    padding-bottom: 20px; }
  main .menu3 .caja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    main .menu3 .caja .cajaA {
      width: 400px;
      height: auto;
      margin: auto; }
    main .menu3 .caja h3 {
      font-size: 2rem;
      color: #abf8f0; }
    main .menu3 .caja p {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      line-height: 2rem;
      font-size: 1.2rem; }

main h2 {
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-align: center; }

main .galeriaModelos {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px; }
  main .galeriaModelos .modelo1 {
    grid-area: modelo1; }
  main .galeriaModelos .modelo2 {
    grid-area: modelo2; }
  main .galeriaModelos .modelo3 {
    grid-area: modelo3; }
  main .galeriaModelos .modelo4 {
    grid-area: modelo4; }
  main .galeriaModelos .modelo5 {
    grid-area: modelo5; }
  main .galeriaModelos p {
    color: steelblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem; }
  main .galeriaModelos img {
    width: 100%;
    border: solid rgba(128, 128, 128, 0.918) 2px;
    opacity: .7;
    transition: all 1.5s; }
    main .galeriaModelos img:hover {
      opacity: 1;
      border: solid white 2px;
      transform: scale(1.2, 1.2); }

main {
  padding-top: 70px; }
  main .sistC {
    width: 90%;
    margin: auto; }
    main .sistC h2 {
      animation-name: anima;
      animation-iteration-count: infinite;
      animation-duration: 4s;
      animation-delay: 0s; }

@keyframes anima {
  20% {
    color: #b9f7f7; }
  40% {
    color: #9ff3f3; }
  60% {
    color: #81f7f7; }
  80% {
    color: #9ff3f3; }
  90% {
    color: #c9f7f7; }
  100% {
    color: #e3f8f8; } }
    main .sistC .wood {
      display: flex;
      padding: 10px; }
      main .sistC .wood img {
        margin-right: 15px; }
    main .sistC .steel {
      display: flex;
      padding: 10px; }
      main .sistC .steel img {
        margin-left: 15px; }
  main section h2 {
    color: #448fcc;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center; }
  main .ventajas {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.5fr 0.3fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "ecoImg rapImg segImg eneImg durImg" "ecoTitulo rapTitulo segTitulo eneTitulo durTitulo" "ecoTexto rapTexto segTexto eneTexto durTexto"; }
    main .ventajas .ecoImg {
      grid-area: ecoImg; }
      main .ventajas .ecoImg img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas .ecoTitulo {
      grid-area: ecoTitulo; }
    main .ventajas .ecoTexto {
      grid-area: ecoTexto; }
    main .ventajas .rapImg {
      grid-area: rapImg; }
      main .ventajas .rapImg img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas .rapTitulo {
      grid-area: rapTitulo; }
    main .ventajas .rapTexto {
      grid-area: rapTexto; }
    main .ventajas .segImg {
      grid-area: segImg; }
      main .ventajas .segImg img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas .segTitulo {
      grid-area: segTitulo; }
    main .ventajas .segTexto {
      grid-area: segTexto; }
    main .ventajas .eneImg {
      grid-area: eneImg; }
      main .ventajas .eneImg img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas .eneTitulo {
      grid-area: eneTitulo; }
    main .ventajas .eneTexto {
      grid-area: eneTexto; }
    main .ventajas .durImg {
      grid-area: durImg; }
      main .ventajas .durImg img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas .durTitulo {
      grid-area: durTitulo; }
    main .ventajas .durTexto {
      grid-area: durTexto; }
    main .ventajas img {
      width: 80%;
      align-items: center; }
      main .ventajas img img:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 15px 15px #1e70ec;
        -webkit-box-shadow: 0px 0px 15px 15px #1e5fec; }
    main .ventajas h3 {
      color: #abf8f0;
      font-family: 'Roboto Slab', serif;
      font-size: 2rem;
      letter-spacing: 5px;
      text-align: center; }
    main .ventajas p {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      line-height: 2rem;
      font-size: 1.5rem;
      text-align: center; }

main {
  width: 90%;
  margin: auto; }
  main h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-align: center;
    color: #448fcc;
    margin: auto;
    padding-bottom: 20px; }
  main .proyectosRealizados #carouselExampleIndicators {
    margin: auto; }
  main .proyectosRealizados h2 {
    padding-top: 20px; }
  main .proyectosRealizados .conteiner {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    main .proyectosRealizados .conteiner .card {
      background-color: #050b32;
      width: 330px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 2px #3e86f3;
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s; }
      main .proyectosRealizados .conteiner .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px #3e86f3; }
    main .proyectosRealizados .conteiner img {
      width: 330px;
      height: 220px; }

main {
  width: 100%; }
  main .showrooms {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; }
    main .showrooms .card {
      background-color: #050b32;
      width: 330px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 2px #3e86f3;
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s; }
      main .showrooms .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px #3e86f3; }
    main .showrooms img {
      width: 330px;
      height: 220px; }
  main .contacto {
    width: 90%;
    margin: auto; }

footer {
  width: 100%; }
  footer ul {
    list-style-type: none;
    margin: 5px auto;
    text-align: center; }
    footer ul li {
      display: inline-block;
      text-align: center; }
      footer ul li a {
        display: inline-block;
        margin: 20px;
        transition: 1.5s; }
        footer ul li a:hover {
          transform: scale(1.2, 1.2); }
  footer p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    color: #abf8f0;
    margin: 20px; }

@media only screen and (max-width: 1024px) {
  body {
    width: 100%; }
    body h2 {
      font-size: 2rem;
      letter-spacing: 3px; }
    body h3 {
      font-size: 1.5rem; }
    body p {
      font-size: 1.2rem; }
    body .menu1 {
      width: 90%;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center; }
      body .menu1 p {
        margin: auto; }
      body .menu1 img {
        width: 400px;
        margin: auto; }
    body .menu2 {
      width: 90%;
      height: auto; }
    body .menu3 {
      width: 95%; }
    body .galeriaModelos {
      width: 90%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 30px; }
      body .galeriaModelos img:hover {
        transform: scale(1.1, 1.1); }
    body .sistC {
      width: 90%; }
      body .sistC .wood {
        width: 90%;
        flex-wrap: wrap; }
        body .sistC .wood img {
          width: 300px;
          margin: auto;
          justify-content: center; }
      body .sistC .steel {
        width: 90%;
        flex-wrap: wrap; }
        body .sistC .steel img {
          width: 300px;
          margin: auto;
          justify-content: center; }
    body .ventajas {
      width: 90%;
      margin: auto;
      grid-column-gap: 5px; }
      body .ventajas h3 {
        font-size: 1rem; }
      body .ventajas p {
        font-size: 1rem; }
    body .proyectosRealizados .carousel-inner .carousel-item img {
      height: 250px; }
    body footer a {
      margin: 5px; } }

@media only screen and (max-width: 1024px) and (max-width: 600px) {
  body {
    width: 100%; }
    body main video {
      display: none; }
    body main h2 {
      font-size: 1.5rem;
      letter-spacing: 3px; }
    body main h3 {
      font-size: 1.3rem; }
    body main .menu2 {
      flex-wrap: wrap; }
    body main .galeriaModelos {
      width: 90%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 10px; }
    body main .ventajas {
      width: 90%;
      grid-template-columns: 0.3fr 1fr;
      grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr;
      grid-column-gap: 5px;
      grid-row-gap: 10px;
      grid-template-areas: "ecoImg ecoTitulo" "ecoImg ecoTexto" "rapImg rapTitulo" "rapImg rapTexto" "segImg segTitulo" "segImg segTexto" "eneImg eneTitulo" "eneImg eneTexto" "durImg durTitulo" "durImg durTexto"; }
      body main .ventajas .ecoImg {
        grid-area: ecoImg; }
        body main .ventajas .ecoImg img {
          width: 100%;
          align-items: center; }
      body main .ventajas .ecoTitulo {
        grid-area: ecoTitulo; }
        body main .ventajas .ecoTitulo h2 {
          font-size: 1rem; }
      body main .ventajas .ecoTexto {
        grid-area: ecoTexto; }
        body main .ventajas .ecoTexto p {
          font-size: 1rem;
          text-align: center; }
      body main .ventajas .rapImg {
        grid-area: rapImg; }
        body main .ventajas .rapImg img {
          width: 100%; }
      body main .ventajas .rapTitulo {
        grid-area: rapTitulo; }
      body main .ventajas .rapTexto {
        grid-area: rapTexto; }
      body main .ventajas .segImg {
        grid-area: segImg; }
        body main .ventajas .segImg img {
          width: 100%; }
      body main .ventajas .segTitulo {
        grid-area: segTitulo; }
      body main .ventajas .segTexto {
        grid-area: segTexto; }
      body main .ventajas .eneImg {
        grid-area: eneImg; }
        body main .ventajas .eneImg img {
          width: 90%; }
      body main .ventajas .eneTitulo {
        grid-area: eneTitulo; }
      body main .ventajas .eneTexto {
        grid-area: eneTexto; }
      body main .ventajas .durImg {
        grid-area: durImg; }
        body main .ventajas .durImg img {
          width: 100%; }
      body main .ventajas .durTitulo {
        grid-area: durTitulo; }
      body main .ventajas .durTexto {
        grid-area: durTexto; }
    body main .proyectosRealizados .carousel-inner .carousel-item img {
      height: 175px; }
    body footer ul {
      margin: 10px; }
      body footer ul li a {
        margin: 1px; } }

.menu1 {
  margin: 30px auto;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row; }

.menu2 {
  margin: 30px auto;
  height: 260px;
  width: 80%;
  display: flex;
  flex-direction: row; }

.wood p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: lightblue; }

.steel p {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 2rem;
  font-size: 1.5rem;
  color: aqua; }
