main {
    .conteiner {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        img {
            width: 50%;
        }
        h2 {
            font-size: 1.3rem;
        }
        div {
            padding: 30px;
        }
        .button {
            text-decoration: none;
            padding: 13px 30px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgb(62, 134, 243);
            border: none;
            transition: 0.25s;
            background-color: rgb(5, 11, 50);
            color: white;
            &:hover {
                box-shadow: 0 12px 16px rgb(62, 134, 243);
            }
        }
    }
}