header {
    font-family: 'Roboto Slab', serif;
    nav {
        h1 {
            font-size: 2rem;
        }
        ul {
            margin: 5px auto;
            text-align: center;
            li {
                a {
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                }
            }
        }
    }
}