                main {
                    .menu1 {
                        div {
                            img {
                                padding: 10px;
                            }
                        }
                        div {
                            h2 {
                                color: $colorClaro;
                                font-family: 'Roboto Slab', serif;
                                font-size: 2.5rem;
                                letter-spacing: 5px;
                                text-align: center;
                            }
                            p {
                                font-family: 'Yanone Kaffeesatz', sans-serif;
                                line-height: 2rem;
                                font-size: 1.5rem;
                            }
                        }
                    }
                    .menu2 {
                        .caja1 {
                            background-color: white;
                            color: black;
                            text-align: center;
                            margin: 10px;
                            transition: 2s;
                            &:hover {
                                background-color: aquamarine;
                            }
                            div {
                                h3 {
                                    font-size: 2rem;
                                    padding: 10px;
                                }
                            }
                            div {
                                p {
                                    font-family: 'Yanone Kaffeesatz', sans-serif;
                                    line-height: 1.2em;
                                    font-size: 1.3em;
                                    color: black;
                                    margin: 10px 10px;
                                }
                            }
                        }
                        .caja2 {
                            @extend .caja1;
                            &:hover {
                                background-color: lightskyblue;
                            }
                            div {
                                h3 {
                                    font-size: 2em;
                                    padding: 10px;
                                }
                            }
                            div {
                                p {
                                    font-family: 'Yanone Kaffeesatz', sans-serif;
                                    line-height: 1.2em;
                                    font-size: 1.3em;
                                    color: black;
                                    margin: 10px 10px;
                                }
                            }
                        }
                        .caja3 {
                            @extend .caja1;
                            &:hover {
                                background-color: rgb(14, 165, 165);
                            }
                            div {
                                h3 {
                                    font-size: 2em;
                                    padding: 10px;
                                }
                            }
                            div {
                                p {
                                    font-family: 'Yanone Kaffeesatz', sans-serif;
                                    line-height: 1.2em;
                                    font-size: 1.3em;
                                    color: black;
                                    margin: 10px 10px;
                                }
                            }
                        }
                    }
                }