    main {
        width: 90%;
        margin: auto;
        h2 {
            font-family: 'Roboto Slab', serif;
            font-size: 2.5rem;
            letter-spacing: 5px;
            text-align: center;
            color: $colorClaro;
            margin: auto;
            padding-bottom: 20px;
        }
        .proyectosRealizados {
            #carouselExampleIndicators {
                margin: auto;
            }
            h2 {
                padding-top: 20px;
            }
            .conteiner {
                padding: 20px;
                width: 100%;
                max-width: 1200px;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: auto;
                .card {
                    background-color: rgb(5, 11, 50);
                    width: 330px;
                    height: auto;
                    border-radius: 8px;
                    box-shadow: 0 2px 2px rgb(62, 134, 243);
                    overflow: hidden;
                    margin: 20px;
                    text-align: center;
                    transition: all 0.25s;
                    &:hover {
                        transform: translateY(-15px);
                        box-shadow: 0 12px 16px rgb(62, 134, 243);
                    }
                }
                img {
                    width: 330px;
                    height: 220px;
                }
            }
        }
    }